build
src/.kdev4
src/src.kdev4

doc/ex.pdf
*.out
*.log
*.bbl
*.blg
*.aux
.*.swp

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
